
@{
    ViewBag.Title = "Exp_Laboralview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hola">
    <br>
    <div class="card">
        <div class="card-header">
            <i class="fas fa-book"></i> Experiencia Laboral
        </div>
        <div class="card-body">
            <div class="row">
                <br>
                <div class="hola1">
                    <button type="button" class="btn btn-primary" onclick="abrirmodal(null)">Añadir Experiencia Laboral </button>
                </div>
                <br>
                <br>
                <table id="tabla3" class="display cell-border" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Empresa</th>
                            <th>Dependencia</th>
                            <th>Cargo</th>
                            <th>Fecha Ingreso</th>
                            <th>Fecha Egreso</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="FormModalExp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header text-light" style="background: hsl(145, 76%, 42%)">
                    <h5 class="modal-title" id="exampleModalLabel">Formulario Experiencia laboral</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                    
                    
                    <div style="width: 85%; margin: 0 auto;">
                        <section>

                            <form class="row g-3 needs-validation" novalidate id="FormExpLaboral">
                                <input type="text" id="txtIdExp" value="0" style="display: none;" />

                                <div>
                                    <div class="col-md-3 form-check-inline">
                                        <label for="txtPerson" class="form-label" style="margin-top: 5px"><b>Persona en Registro</b></label>
                                        <input type="text" class="form-control" id="txtPerson" required autocomplete="off">
                                    </div>
                                </div>
                                <hr>

                                <div class="col-md-5 form-check-inline">
                                    <label for="txtEntidad" class="form-label">Entidad o Empresa</label>
                                    <input type="text" class="form-control" id="txtEntidad" required autocomplete="off">
                                </div>

                                <div class="col-md-2 form-check-inline d-inline-block">
                                    <label for="txtLaboro" class="form-label">Pais laboró</label>
                                    <input type="text" class="form-control" id="txtLaboro" required autocomplete="off">
                                </div>

                                <div class="col-md-2 form-check-inline d-inline-block">
                                    <label for="txtdepartamento" class="form-label">Departamento</label>
                                    <input type="text" class="form-control" id="txtdepartamento" required autocomplete="off">
                                </div>

                                <div class="col-md-2 form-check-inline d-inline-block">
                                    <label for="txtciudad" class="form-label">Ciudad</label>
                                    <input type="text" class="form-control" id="txtciudad" required autocomplete="off">
                                </div>
                                @*______________*@
                                <div class="col-md-3 form-check-inline">
                                    <label for="txtdireccion" class="form-label">Dirección</label>
                                    <input type="text" class="form-control" id="txtdireccion" required autocomplete="off">
                                </div>
                                <div class="col-md-2 form-check-inline">
                                    <label for="txttelefono" class="form-label">Telefonos</label>
                                    <input type="text" class="form-control" id="txttelefono" required autocomplete="off">
                                </div>
                                <div class="col-md-4 form-check-inline">
                                    <label for="txtcorreo" class="form-label">Correo Electronico</label>
                                    <input type="text" class="form-control" id="txtcorreo" required autocomplete="off">
                                </div>
                                <div class="col-md-2">
                                    <label for="txtsector" class="form-label">Sector Empresa</label>
                                    <select class="form-control" name="txtLoEscribe" id="txtsector" required autocomplete="off">
                                        <option value="" required>Seleccione.</option>
                                        <option value="Publica" required>Publica</option>
                                        <option value="Privada" required>Privada</option>
                                    </select>
                                </div>
                                @*______________*@

                                <div class="col-md-3 form-check-inline">
                                    <label for="txtcargo" class="form-label">Cargo o contrato actual</label>
                                    <input type="text" class="form-control" id="txtcargo" required autocomplete="off">
                                </div>
                                <div class="col-md-3 form-check-inline">
                                    <label for="txtdependencia" class="form-label">Dependencia</label>
                                    <input type="text" class="form-control" id="txtdependencia" required autocomplete="off">
                                </div>
                                <div class="col-md-2 form-check-inline">
                                    <label for="txtfechain" class="form-label">Fecha Ingreso</label>
                                    <input type="text" class="form-control" id="txtfechain" placeholder="dd-mm-yy" required autocomplete="off">
                                </div>
                                <div class="col-md-2 form-check-inline">
                                    <label for="txtfechasal" class="form-label">Fecha salida</label>
                                    <input type="text" class="form-control" id="txtfechasal" placeholder="dd-mm-yy" required autocomplete="off">
                                </div>
                                <div class="col-md-6">
                                    <label for="formFile" class="form-label">Adjuntar Soporte</label>
                                    <input class="form-control" type="file" id="formFile">
                                </div>

                            </form>

                        </section>

                        <div class="row mt-2">
                            <div class="col-12">
                                <div id="mensajEerror" class="alert alert-danger" role="alert">
                                    A simple danger alert—check it out!
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" onclick="Guardar()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>

        $("#txtfechain").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date())
        $("#txtfechasal").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', new Date())
        var tabladata;
        var filaSeleccionada;

        jQuery.ajax({
            url: '@Url.Action("ListaExp_Laboral", "Sindicato")',
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log(data)
            }

        })
        tabladata = $("#tabla3").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListaExp_Laboral", "Sindicato")',
                type: "GET",
                dataType: "json",
            },
            "columns": [
                { "data": "IdExperienciaLaboral" },
                { "data": "EmpresaEntidad" },
                { "data": "Dependencia" },
                { "data": "CargoContratoActual" },
                { "data": "FechaIngreso" },
                { "data": "FechaEgreso" },

                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editarExplaboral"><i class="fas fa-pen"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width":"90px"
                }
            ],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.3/i18n/es-ES.json"
        }

        });

        function abrirmodal(json) {
            document.getElementById("FormExpLaboral").reset();
            $("#txtIdExp").val(0);
            $("#mensajEerror").hide();


            if (json != null) {

                $("#txtIdExp").val(json.IdExperienciaLaboral);
                $("#txtEntidad").val(json.EmpresaEntidad);
                $("#txtLaboro").val(json.Pais);
                $("#txtdepartamento").val(json.Departamento);
                $("#txtciudad").val(json.Ciudad);
                $("#txtdireccion").val(json.Direccion);
                $("#txttelefono").val(json.Telefono);
                $("#txtcorreo").val(json.CorreoElectronico);
                $("#txtsector").val(json.SectorEmpresa == "Publica" ? "Publica" : "Privada");
                $("#txtcargo").val(json.CargoContratoActual);
                $("#txtdependencia").val(json.Dependencia);
                $("#txtfechain").val(json.FechaIngreso);
                $("#txtfechasal").val(json.FechaEgreso);

            }


            $("#FormModalExp").modal("show");
        }

        //Editar
        $("#tabla3 tbody").on("click", '.btn-editarExplaboral', function () {

            var filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();

            abrirmodal(data)

        })

        function Guardar() {

            var Experienciag = {

                IdExperienciaLaboral: $("#txtIdExp").val(),
                EmpresaEntidad: $("#txtEntidad").val(),
                Pais: $("#txtLaboro").val(),
                Departamento: $("#txtdepartamento").val(),
                Ciudad: $("#txtciudad").val(),
                Direccion: $("#txtdireccion").val(),
                Telefono: $("#txttelefono").val(),
                CorreoElectronico: $("#txtcorreo").val(),
                SectorEmpresa: $("#txtsector").val(),
                CargoContratoActual: $("#txtcargo").val(),
                Dependencia: $("#txtdependencia").val(),
                FechaIngreso: $("#txtfechain").val(),
                FechaEgreso: $("#txtfechasal").val()

            }

            var formData = new FormData();
            formData.append("IdExperienciaLaboral", $("#txtIdExp").val());
            formData.append("EmpresaEntidad", $("#txtEntidad").val());
            formData.append("Pais", $("#txtLaboro").val());
            formData.append("Departamento", $("#txtdepartamento").val());
            formData.append("Ciudad", $("#txtciudad").val());
            formData.append("Direccion", $("#txtdireccion").val());
            formData.append("Telefono", $("#txttelefono").val());
            formData.append("CorreoElectronico", $("#txtcorreo").val());
            formData.append("SectorEmpresa", $("#txtsector").val());
            formData.append("CargoContratoActual", $("#txtcargo").val());
            formData.append("Dependencia", $("#txtdependencia").val());
            formData.append("FechaIngreso", $("#txtfechain").val());
            formData.append("FechaEgreso", $("#txtfechasal").val());
            formData.append("AdjuntarSoporte", $("#formFile")[0].files[0]);

           


             jQuery.ajax({
                url: '@Url.Action("GuardarExp", "Sindicato")',
                type: "POST",
                data: formData,
                cache: false,
                processData: false,
                cache:false,
                contentType: false,
                success: function (data) {
                    console.info(data);

                     //Usuario Nuevo
                    if (Experienciag.IdExperienciaLaboral == 0) {

                            if (data.resultado != 0) {

                                Experienciag.IdExperienciaLaboral = data.resultado;
                                tabladata.row.add(Experienciag).draw(false);
                                $("#FormModalExp").modal("hide");
                            } else {


                                $("#mensajEerror").text(data.mensaje)
                                $("#mensajEerror").show()
                            }

                            //Usuario Editar
                    }
                    else {

                        if (data.resultado) {

                            tabladata.row(filaSeleccionada).data(Experienciag).draw(false);
                            filaSeleccionada = null;
                            $("#FormModalExp").modal("hide");

                        } else {
                            $("#mensajEerror").text(data.mensaje)
                            $("#mensajEerror").show()
                        }


                    }
                },
                error: function (error) {
                    console.log(error)
                }
            });
         }

    </script>
}

