
@{
    ViewBag.Title = "DatosPersonales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item">Administrador gestion humana HV</li>
    <li class="breadcrumb-item active">Datos Personales</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-briefcase"></i> Datos Personales
    </div>
    
    <div class="card-body">
        <div class="contenido_texto block" data-seccion="1">
            <section>
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-3 mt-4">
                        <p class="form-label" for="validationCustom05" style="color: #ff0000; font-size: 13px">MARIA CLAUDIA MARTINEZ GAEHT</p>
                    </div>
                    <div class="col-6 mt-4">
                        <p class="form-label" for="validationCustom05" style="font-size:13px">UNION DE EMPLEADOS TRABAJADORES Y CONTRATISTAS DE LA SALUD - UTRASSALUD Gestion Humana Profecional del Talento Humano</p>
                    </div>
                    <div class="col-3 mt-4">
                        <p class="form-label" for="validationCustom05" style="font-size:13px">Confirmado:</p>
                    </div>
                    <div class="col-md-3 mt-1">
                        <div class="hola ">
                            <label for="validationCustom01" class="form-label" style="font-size: 15px; height: 15px">Identificacion:</label>
                            <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                        </div>
                    </div>
                    <div class="col-md-3 mt-1 ">
                        <div class="form-check form-check-inline" style="margin-top: 25px;">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" >
                            <label class="form-check-label" for="inlineCheckbox1" style="font-size: 15px; height: 15px">C.C</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2" style="font-size: 15px; height: 15px">C.E</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3" style="font-size: 15px; height: 15px">PAS</label>
                        </div>

                    </div>
                    <div class="col-md-3 mt-1">
                        <div class="form-check form-check-inline" style="margin-top: 25px;">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2" style="font-size: 15px; height: 15px">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3" style="font-size: 15px; height: 15px">Femenino</label>
                        </div>
                    </div>
                    <div class="col-md-3 mt-1">
                        <div class="ciud">
                            <div class="form-check form-check-inline" style="margin-top: 25px;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2" style="font-size: 15px; height: 15px">Colombiano</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3" style="font-size: 15px; height: 15px">Extranjero</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom01" class="form-label" style="font-size: 15px; height: 15px">Pais</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Fecha de expedición</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">lugar de expedicion</label>
                        <input type="text" class="form-control" id="validationCustom05" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Estado civil</label>
                        <input type="text" class="form-control" id="validationCustom05" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1"> @*para quitar espacio mt-1*@
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Primer nombre</label>
                        <input type="text" class="form-control" id="validationCustom05" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Segundo nombre</label>
                        <input type="text" class="form-control" id="validationCustom05" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Primer apellido</label>
                        <input type="text" class="form-control" id="validationCustom05" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Segundo apellido</label>
                        <input type="text" class="form-control" id="validationCustom05" style="height: 30px" required>
                    </div>

                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">N° Libreta militar</label>
                        <input type="text" class="form-control" id="validationCustom05" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Distrito militar</label>
                        <input type="text" class="form-control" id="validationCustom05" style="height: 30px" required>
                    </div>
                    <div class="col-md-5 mt-1">

                        <label for="validationCustom01" class="form-label" style="font-size: 15px; height: 15px"><B>Libreta Militar:  </B></label>

                        <div class="form-check form-check-inline" style="margin-top: 24px;">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">NIN.</label>
                        </div>
                        <div class="form-check form-check-inline" style="margin-top: 24px;">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">1RA.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">2DA.</label>
                        </div>

                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Fecha de nacimiento</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Pais de nacimiento</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Departamento de nacimiento</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Ciudad de nacimiento</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Dirección</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required> 
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Pais Dirección</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Departamento Dirección</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Ciudad Dirección</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Telefono</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom05" class="form-label" style="font-size: 15px; height: 15px">Correo electronico</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Grupo sanguineo</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Grupo etnico</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-6 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Profesión</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-6 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Eps</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-6 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Fondo Pensiones</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-6 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">ARL</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1">
                        <label for="validationCustom04" class="form-label" style="font-size: 15px; height: 15px">Numero hijos</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" style="height: 30px" required>
                    </div>
                    <div class="col-md-3 mt-1" >
                        <div style="margin-top: 24px;">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">INACTIVO.</label>
                        </div>
                    </div>

                    <hr> <!-- cambio de tema se agrega una linea para separar los temas. -->
                </form>
            </section>


        </div>

    </div>
</div>

