
@{
    ViewBag.Title = "DatosPersonales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item">Administrador gestion humana HV</li>
    <li class="breadcrumb-item active">Datos Personales</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-briefcase"></i> Datos Personales
    </div>
    
    <div class="card-body">
        <div class="contenido_texto block" data-seccion="1">
            <section>
                <form class="row g-3 needs-validation" novalidate>
                    <div class="col-3">
                        <p class="form-label" for="validationCustom05" style="font-size:13px"><b>...</b></p>
                    </div>
                    <div class="col-3">
                        <p class="form-label" for="validationCustom05" style="color: #ff0000; font-size: 13px">MARIA CLAUDIA MARTINEZ GAEHT</p>
                    </div>
                    <div class="col-3">
                        <p class="form-label" for="validationCustom05" style="font-size:13px">UNION DE EMPLEADOS TRABAJADORES Y CONTRATISTAS DE LA SALUD - UTRASSALUD Gestion Humana Profecional del Talento Humano</p>
                    </div>
                    <div class="col-3">
                        <p class="form-label" for="validationCustom05" style="font-size:13px">Confirmado:</p>
                    </div>
                    <div class="hola">
                        <div class="col-md-3 mb-3">
                            <label for="validationCustom01" class="form-label">Identificacion</label>
                            <input type="text" class="form-control" id="validationCustom01" value="" required>

                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="validationCustom01" class="form-label"><B>T.Documento:  </B></label>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">C.C</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">C.E</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">PAS</label>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <label for="validationCustom01" class="form-label"><B>Genero:</B></label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Masculino</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">Femenino</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ciud">
                            <label for="validationCustom01" class="form-label"><B>Ciudadania:</B></label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                <label class="form-check-label" for="inlineCheckbox2">C.E</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                <label class="form-check-label" for="inlineCheckbox3">PAS</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom01" class="form-label">Pais</label>
                        <input type="text" class="form-control" id="validationCustom01" value="" required>

                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Fecha de expedición</label>
                        <input type="date" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">lugar de expedicion</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">Estado civil</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione</option>
                            <option>
                                ...
                            </option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Primer nombre</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Segundo nombre</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Primer apellido</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Segundo apellido</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">N° Libreta militar</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Distrito militar</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 55px;">

                        <label for="validationCustom01" class="form-label"><B>Libreta Militar</B></label>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">NIN.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">1RA.</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">2DA.</label>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Fecha de nacimiento</label>
                        <input type="date" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">Pais de nacimiento</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">Departamento de nacimiento</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">Ciudad de nacimiento</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">Pais Dirección</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">Departamento Dirección</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">Ciudad Dirección</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom05" class="form-label">Correo electronico</label>
                        <input type="text" class="form-control" id="validationCustom05" required>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">Grupo sanguineo</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">Grupo etnico</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom04" class="form-label">Profesión</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione Profesión...</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom04" class="form-label">Eps</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione EPS...</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom04" class="form-label">Fondo Pensiones</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione...</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom04" class="form-label">ARL</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione </option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationCustom04" class="form-label">Numero hijos</label>
                        <select class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">Seleccione </option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>


                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                        <label class="form-check-label" for="inlineCheckbox1">INACTIVO.</label>
                    </div>

                    <hr> <!-- cambio de tema se agrega una linea para separar los temas. -->
                </form>
            </section>


        </div>

    </div>
</div>

