
@{
    ViewBag.Title = "DatosLaborales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item">Administrador gestion humana HV</li>
    <li class="breadcrumb-item active">Datos Laborales</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fas fa-briefcase"></i> Datos Laborales
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <label class="form-label" for="validationCustom05" style="font-size:13px"><b>...</b></label>
            </div>
            <div class="col-3">
                <label for="validationCustom05" class="form-label" style="color:#ff0000; font-size:13px">MARIA CLAUDIA MARTINEZ GAEHT</label>
            </div>
            <div class="col-3">
                <label for="validationCustom05" class="form-label" style="font-size:13px">UNION DE EMPLEADOS TRABAJADORES Y CONTRATISTAS DE LA SALUD - UTRASSALUD Gestion Humana Profecional del Talento Humano</label>
            </div>
            <div class="col-3">
                <label for="validationCustom05" class="form-label" style="font-size:13px">Confirmado:</label>
            </div>
            <table id="tabla" class="table table-hover" style="width:100%; font-size:12px">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo Contrato</th>
                        <th>Nombre</th>
                        <th>Actividad</th>
                        <th>Tipo Actividad</th>
                        <th>Proceso</th>
                        <th>Horas Contratada</th>
                        <th>Fecha Ingreso</th>
                        <th>Fecha Retiro</th>
                        <th>Cumple</th>
                        <th>......</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

