
@{
    ViewBag.Title = "FormacionAcademica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item">Administrador gestion humana HV</li>
    <li class="breadcrumb-item active">Formacion Academica</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fas fa-briefcase"></i> Formacion Academica
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <p class="form-label" for="validationCustom05" style="font-size:13px"><b>...</b></p>
            </div>
            <div class="col-3">
                <p class="form-label" for="validationCustom05" style="color: #ff0000; font-size: 13px">MARIA CLAUDIA MARTINEZ GAEHT</p>
            </div>
            <div class="col-3">
                <p class="form-label" for="validationCustom05" style="font-size:13px">UNION DE EMPLEADOS TRABAJADORES Y CONTRATISTAS DE LA SALUD - UTRASSALUD Gestion Humana Profecional del Talento Humano</p>
            </div>
            <div class="col-3">
                <p class="form-label" for="validationCustom05" style="font-size:13px">Confirmado:</p>
            </div>
            <div class="col-3">
                <label class="form-label" for="validationCustom05"><b>Cargo Aspira:</b></label>
            </div>
            <div class="col-3">
                <label class="form-label" for="validationCustom05" style="font-size:12px">Profecional</label>
            </div>
            <table id="tabla" class="table table-hover" style="width:100%; font-size:12px">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Educacion Básica</th>
                        <th>Grado</th>
                        <th>Título</th>
                        <th>Institución</th>
                        <th>Mes Graduación</th>
                        <th>Año Graduación</th>
                        <th>Ver Adjunto</th>
                        <th>Cumple</th>
                        <th>......</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="col-3">
                <label class="form-label mt-5" for="validationCustom05"><b>Educación Superior</b></label>
            </div>
            <table id="tabla" class="table table-hover " style="width:100%; font-size:12px">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Modalidad</th>
                        <th>N° Semestre</th>
                        <th>Graduado</th>
                        <th>Titulo</th>
                        <th>Institución</th>
                        <th>Mes Graduación</th>
                        <th>Año Graduación</th>
                        <th>Ver Adjunto</th>
                        <th>Cumple</th>
                        <th>......</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

