
@{
    ViewBag.Title = "Idiomas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item">Administrador gestion humana HV</li>
    <li class="breadcrumb-item active">Idiomas</li>
</ol>
<div class="card">
    <div class="card-header">
        <i class="fas fa-briefcase"></i> Idiomas
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <p class="form-label" for="validationCustom05" style="font-size:13px"><b>...</b></p>
            </div>
            <div class="col-3">
                <p class="form-label" for="validationCustom05" style="color: #ff0000; font-size: 13px">MARIA CLAUDIA MARTINEZ GAEHT</p>
            </div>
            <div class="col-3">
                <p class="form-label" for="validationCustom05" style="font-size:13px">UNION DE EMPLEADOS TRABAJADORES Y CONTRATISTAS DE LA SALUD - UTRASSALUD Gestion Humana Profecional del Talento Humano</p>
            </div>
            <div class="col-3">
                <p class="form-label" for="validationCustom05" style="font-size:13px">Confirmado:</p>
            </div>
        </div>
    </div>
</div>

